<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Test.SerialPort.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
    <applicationSettings>
        <Test.SerialPort.Properties.Settings>
            <setting name="COM" serializeAs="String">
                <value>COM6</value>
            </setting>
            <setting name="Baudrate" serializeAs="String">
                <value>38400</value>
            </setting>
        </Test.SerialPort.Properties.Settings>
    </applicationSettings>
</configuration>