<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Ntree.ReaderTool.Light.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Ntree.ReaderTool.Light.Properties.Settings>
            <setting name="UseSerialPort" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SerialPort" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="Baudrate" serializeAs="String">
                <value>115200</value>
            </setting>
            <setting name="TerminalIp" serializeAs="String">
                <value>192.168.1.100</value>
            </setting>
            <setting name="NetworkPort" serializeAs="String">
                <value>9998</value>
            </setting>
        </Ntree.ReaderTool.Light.Properties.Settings>
    </userSettings>
</configuration>